.linharoxa {
    height: 35px;
    width: 1250px;
    position: absolute;
    top: -20px;
    left: -10px;
    background-color:blueviolet;
    text-align: right;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 10px;
    display: inline-table;
    
}
.fone {
    width: 22px;
    height: 22px;
    position:absolute;
    right: 50px;
    top: 6px;
    right:300px;
    
}
p {
    position: absolute;
    right: 90px;
    top: -10px;
    color: black;
    
}
header {
    height: 75px;
    width: 1282px;
    position: relative;
    top: 30px;
    left: -10px;
    background-color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}
.logo {
    width:125px; 
    height:125px;
    top: -40px;
    position: absolute;

}
.casa {
    width: 20px; 
    height:20px;
    right: 1125px;
    top: 20px;
    position: absolute;

}
.home {
    right: 1015px;
    top:6px;
}

.ping {
    width: 20px; 
    height:20px;
    right: 965px;
    top: 20px;
    position: absolute;
}

.localizador {
    right: 800px;
    top:6px
}

.linhas {
    width: 20px; 
    height:20px;
    right: 750px;
    top: 19px;
    position: absolute;
}

.programas {
    right: 600px;
    top:6px
}
.avião {
    width: 20px; 
    height:20px;
    right: 545px;
    top: 22px;
    position: absolute;
}

.sobre {
    right: 458px;
    top:06px
}

.div2 {
    height: 6px;
    width: 1282px;
    position: relative;
    top: 20px;
    left: -10px;
    background-color: blueviolet;
    text-align: right;
}

footer {
    height: 170px;
    width: 1290px;
    position: absolute;
    top: 700px;
    left: -10px;
    background-color:blueviolet;
    text-align: right;
    display: inline-table;
}

.menu {
    right: 1150px;
    position: absolute;
    top: 715px;
    color: white;
    font-family: 'Inter', sans-serif;
}

.paginicial {
    right: 1075px;
    position: absolute;
    top: 740px;
    color:rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}

.saibaseu {
    right: 1025px;
    position: absolute;
    top: 757px;
    color:rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}

.nossos {
    right: 1033px;
    position: absolute;
    top: 773px;
    color:rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}

.sobrenos {
    right: 1097px;
    position: absolute;
    top: 790px;
    color:rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}

.contato {
    right: 200px;
    position: absolute;
    top: 735px;
    color: white;
    font-family: 'Inter', sans-serif;
}

.email {
    right: 200px;
    position: absolute;
    top: 755px;
    color:rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}

.telefone {
    right: 275px;
    position: absolute;
    top: 775px;
    color:rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}